sudo: required
addons:
  apt:
    packages:
      - python-setuptools
      - cmake
      - build-essential
      - ninja-build
      - libssl-dev
script:
  - chmod +x ./Scripts/Install.sh
  - ./Scripts/Install.sh
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local-dir: Build
  on:
    branch: master
